h2 {
	text-align: center;
}

.page {
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0;
	background-color: #9DEB9E;
}



.header {
	height:10%;
}

.left-top {
	float: left;
	width: 50%;
	height: 80%;
}

.right-top {
    float: right;
	width: 50%;
	height: 80%;
}

.left-bottom {
	clear: left;
	float: left;
	width: 50%;
	height: 45%;

}

.right-bottom {
	clear: right;
	float: right;
	width: 50%;
	height: 45%;
}

.footer {
	clear: both;
	height: 10%;
}

.credits {
	text-align: center;
}

#placeholder {
	width: 90%;
	height: 90%;
	margin: auto;
	border: 2px dashed;
	background-color: #F5F1D5;
}

.led {
	background-color: #E9F5D5;
	width: 50px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
}
