<!doctype html>
<title>OHT!</title>
<head>
<meta http-equiv="refresh" content="120" >
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<script type=text/javascript src="{{url_for('static', filename='js/flot/jquery.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/shared/jquery-ui.min.js') }}"></script>
	
		<script type="text/javascript">
		$(function() {
		
		var plotDates = [{% for entry in entries %}{{ entry.date }}*1000,{% endfor %}];
		var plotTemperatures = [{% for entry in entries %}{{ entry.temperature }},{% endfor %}];
		var plotTemperatures_outside = [{% for entry in entries %}{{ entry.temperature_outside }},{% endfor %}];
		
		var res = [];
			for (var i = 0; i <= plotTemperatures.length; ++i) {
				res.push([plotDates[plotTemperatures.length-i-1],plotTemperatures[plotTemperatures.length-i-1]])
			}
		var outside = [];
			for (var i = 0; i <= plotTemperatures.length; ++i) {
				outside.push([plotDates[plotTemperatures.length-i-1],plotTemperatures_outside[plotTemperatures.length-i-1]])
			}
		var placeholder = $("#placeholder");
		var plot = $.plot(placeholder, [{label: "Home", data: res}, {label: "Outside", data: outside} ], {yaxis: {position:'right'}, xaxis: {mode:'time'}, legend: {position: "nw"}});
					});	
		</script>
	
</head>
<body>
<div class="page">
	<div class="header"><h2>Open Home Technologies - dashboard</h2></div>
	<div class="left-top">
		<div class="led">{{entries[0].temperature}}</div>
		<div class="led">{{entries[0].temperature_outside}}</div>
		<div class="led"></div>
		<div class="led"></div>
		<div class="led"></div>
		<div class="led"></div>
	</div>
	<div class="right-top"> <div id="placeholder"></div></div>
	<div class="left-bottom"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas mauris non nunc placerat rhoncus. Sed fermentum congue ultrices. Pellentesque eget sem nec magna imperdiet posuere. Nulla facilisi. Phasellus neque libero, vehicula a pellentesque sed, mollis vel mi. Praesent est tellus, porttitor et aliquet vitae, cursus vitae orci. Maecenas risus nulla, ullamcorper nec bibendum non, varius nec nisi. Cras non euismod nisl. Praesent at libero tortor. Quisque ultrices enim ac dui mattis quis fermentum nisl pellentesque. </p></div>
	<div class="right-bottom"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas mauris non nunc placerat rhoncus. Sed fermentum congue ultrices. Pellentesque eget sem nec magna imperdiet posuere. Nulla facilisi. Phasellus neque libero, vehicula a pellentesque sed, mollis vel mi. Praesent est tellus, porttitor et aliquet vitae, cursus vitae orci. Maecenas risus nulla, ullamcorper nec bibendum non, varius nec nisi. Cras non euismod nisl. Praesent at libero tortor. Quisque ultrices enim ac dui mattis quis fermentum nisl pellentesque. </p></div>
	<div class="footer">
		<p class="credits">OHT group.</p>
		<p class="credits">26.04.2013</p>
	</div>
</div>
</body>
